.form-style {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.input-box {
    border: 2px solid black;
    border-radius: 10px;
    font-size: larger;
    margin: 10px;
    height: 30px;
}

.btn-style {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: lightgreen;
}

.pic-style {
    margin-left: 50px;
    width: 325px;
    border: 2px solid black;
    border-radius: 10px;
}

body {
    background-color: rgba(5, 5, 5, 0.247);
}

.div-style {
    background-color: rgba(143, 198, 247, 0.575);
    border: 5px double black;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 50px;
    height: 400px;
    width: 425px;
}
