.main-dice__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100px;
    width: 200px;
    padding: 5px;
}

.main-dice__box {
    background-color: antiquewhite;
    width: 70%;
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

span {
    border-radius: 50%;
    background-color: rgb(8, 8, 8);
    width: 1.3rem;
    height: 1.5rem;
}

.main-dice__box.rolled_one span {
    grid-template-columns: repeat(1, 1fr);
}

.main-dice__box.rolled_two span {
    grid-template-columns: repeat(2, 1fr);
}

.main-dice__box.rolled_three {
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 0rem 0rem 0.5rem;
}

.main-dice__box.rolled_four {
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 0rem 0rem 1rem;
}

.main-dice__box.rolled_five {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 3; */
    padding: 0rem 0rem 0rem 1rem;
    /* grid-template-rows: 4; */
}

.main-dice__box.main-dice__box.rolled_five span:nth-child(3) {
    grid-column: span 2;
    margin: 0rem 0rem 0rem 1.2rem;
}

.main-dice__box.rolled_six {
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 0rem 0rem 1.2rem;
}
